@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.login-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.login-button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #4285F4;
  color: white;
  border: none;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.login-button img {
  margin-right: 10px;
  width: 20px;
  height: 20px;
}

.error-message {
  color: red;
}
